.alert {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px #999;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #333;
    gap: 0.5rem;
    line-height: 1.5;
}

.alert i {
    font-size: 1.3rem;
}

.alert>a {
    cursor: pointer;
    color: #D4D4D4;
    margin-left: auto;
}

.hide-box {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 1s;
}

.alert-success {
    border-left: 5px solid #5CBD9D;
}

.alert-error {
    border-left: 5px solid #E74C3C;
}

.alert-warning {
    border-left: 5px solid #F29C33;
}

.alert-info {
    border-left: 5px solid #3998DB;
}

.fa-check-circle {
    color: #5CBD9D;
}

.fa-times-circle {
    color: #E74C3C;
}

.fa-exclamation-triangle {
    color: #F29C33;
}

.fa-exclamation-circle {
    color: #3998DB;
}
